<h1>Clues</h1>
<hr />
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <section class="panel panel-default">
      <table class="table table-hover table-striped">
        <caption>
          <h3>Clues</h3>
          {{#if category}}
          <small>Filter: </small>
          {{#link-to (query-params category='') class="btn btn-primary btn-xs"}}
          {{category}} 
          <span class="badge"><span aria-hidden="true">&times;</span><span class="sr-only">Remove</span></span>
          {{/link-to}}
          {{/if}}
          <div class="pull-right form-inline">
            <div class="form-group">
              <label for="search" class=""><span class="sr-only">Search:</span></label>
              <div class="input-group">
                {{input type="search" class="form-control" value=q placeholder="Enter Search Text..."}}
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
              </div>
            </div>
          </div>
        </caption>
        <thead class="table-headers">
          <tr>
            <th>{{#link-to 'clues' (query-params sort="category")}}Category{{/link-to}}</th>
            <th>{{#link-to 'clues' (query-params sort="quesiton")}}Question{{/link-to}}</th>
            <th>{{#link-to 'clues' (query-params sort="hint")}}Hint{{/link-to}}</th>
            <th>{{#link-to 'clues' (query-params sort="answer")}}Answer{{/link-to}}</th>
            <th class="toolbar">
              {{#link-to 'clues.new' class="btn btn-primary"}}<i class="fa fa-plus"></i>{{/link-to}}
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each clue in paginatedContent}}
          <tr>
            <td>{{#link-to 'clues' (query-params category=clue.category)}}{{clue.category}}{{/link-to}}</td>
            <td>{{clue.question}}</td>
            <td>{{clue.hint}}</td>
            <td>{{clue.answer}}</td>
            <td class="toolbar">
              <div class="btn-toolbar">
                <button class="btn btn-primary" {{action "deleteRecord" clue}}><i class="fa fa-trash"></i></button>
                {{#link-to 'clues.edit' clue class="btn btn-primary"}}<i class="fa fa-edit"></i>{{/link-to}}
              </div>
            </td> 
          </tr>
          {{/each}}
        </tbody>
          <tfoot class="table-footer">
            <tr>
              <td colspan="2">
                <p>Showing {{first}} to {{last}} of {{total}} Records</p>
              </td>
              <td colspan="3">
                {{pagination-links page=page pages=pages class="pull-right"}}
              </td>
            </tr>
          </tfoot>
      </table>
    </section>
  </div>
</div>
{{outlet}}
